.DS_Store

pyuic
setpaths.sh
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.autosave
# C extensions
*.so
*.dylib
*.dll
*.obj
*.exp
*.lib
*.o
*.o.d

# Exclusions for precompiled libraries
!libfftw2xc.so
!libfftw_mkl_core.so



# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/
